#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.MuiPaper-root {
  width: 500px;
}

.popup-title {
  font-size: 20px !important;
  text-align: center;
  font-weight: 600 !important;
}

.popup-close-btn {
  background-color: blue !important;
  color: white !important;
  margin: 0 auto !important;
  padding: 5px 20px !important;
}

.popup-no-data {
  text-align: center;
  color: red;
  font-size: 20px;
}
